.article {
  width: 100%;
  height: 100%;
  background-image: url(../images/main_bg.jpg);
}
.article__name {
  max-width: 640px;
  border-bottom: 0.2rem solid;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  .article__name-set {
    font-family: $font-main-project;
    font-size: 42px;
    margin: 0 auto 10px auto;
    color: white;
  }
}
.article__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.projects-title {
  display: block;
  text-decoration: none;
  color: white;
  background: #337ab7;
}
.projects-image {
  width: 384px;
  height: 395px;
}
.projects-name {
  font-size: 26px;
  padding: 20px 8px;
  text-align: center;
  font-family: $font-main-project;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn__set {
  font-size: 32px;
  text-decoration: none;
  background: #337ab7;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  color: white;
  font-family: $font-main-project;
  &:hover {
    background: grey;
    transition: 0.7s;
  }
}
