.main {
    height: 900px;
    width: 100%;
    background-image: url(../images/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main__name {
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    padding-top: 210px;
    gap: 10px;
    .main__name-set {
        color: rgb(255, 255, 255);
        font-size: 56px;
        font-family: $font-main-project;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }
    .main__qualification {
        color: #337AB7;
        font-size: 32px;
        font-family: $font-main-project;
        display: flex;
        justify-content: center;
        font-weight: 300;
    }
}
.arrow-down {
    margin-top: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media (max-width:700px) {
    .main__name {
        .main__name-set {
            text-align: center;
        }
    }
}

@media (max-width:700px) {
    
    .main__name {
        .main__name-set {
            font-size: 32px;
        }
        .main__qualification {
            font-size: 24px;
        }
    }
}
@media (max-width:450px) {
    .main {
        height: 800px;
    }
    .main__name{
        padding-top: 44px;
    }
    .arrow-down {
        margin-top: 135px;
    }
}