.main {
  padding: 15px;
  margin: 30px 8px;
  border-radius: 5px;
  background: #e1dd7f;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.main_text-set {
  font-size: 68px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.sup_text-set {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
.img-div {
  background-color: white;
  padding: 40px 40px 20px 40px;
  border: 2px solid black;
  box-shadow: 0px 8px 13px 10px #8f8730;
}
.img-caption {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  font-weight: 600;
  text-shadow: #fc0 1px 0 10px;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.tribute-info {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  display: block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}
.history {
  max-width: 840px;
  margin: 0 auto;
}
.history-block {
  list-style-type: disc;
}
.history_block-set {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
.history-name {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.tsitata {
  font-style: oblique;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.tsitata-coment {
    padding-top: 10px;
    font-style: oblique;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.recomend {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    display: block;
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
}
.link:hover {
    color: white;
}